klaidu_perdavimas_programuotojui.json
{
    "name": "Klaidų valdymas į CRM sistemą",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 808805,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450,
                    "name": "Gauti programuotojo atsakymą"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Programuotojo atsakymai"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "Pakeitete uzklausos busena!",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450,
                    "name": "Patvirtinimas programuotojui"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "zohocrm:getObject",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1644421
            },
            "mapper": {
                "id": "{{1.kortelesID}}",
                "module": "Registruotos_Klaidos",
                "select": "list"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 450,
                    "name": "Išgauti klaidos kortelės duomenis"
                },
                "restore": {
                    "expect": {
                        "id": {
                            "mode": "edit"
                        },
                        "module": {
                            "mode": "chose",
                            "label": "Registruotos Klaidos",
                            "nested": [
                                {
                                    "mode": "edit",
                                    "name": "id",
                                    "type": "select",
                                    "label": "Object ID",
                                    "options": "rpc://zohocrm/3/listObjects",
                                    "required": true
                                }
                            ]
                        },
                        "select": {
                            "label": "Select from the list"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "zohocrm2"
                            },
                            "label": "My Zoho CRM connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:zohocrm2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get an Object",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "module",
                        "type": "select",
                        "label": "Module",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "id",
                        "type": "select",
                        "label": "Object ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "uinteger",
                        "label": "Object ID",
                        "required": true
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Registruotos Klaidos pavadinimas"
                    },
                    {
                        "name": "Owner",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Registruotos Klaidos Owner ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Registruotos Klaidos Owner"
                    },
                    {
                        "name": "Klaidos_sprendimo_b_sena",
                        "type": "text",
                        "label": "Klaidos sprendimo būsena"
                    },
                    {
                        "name": "Programuotojo_klaidos_sprendimo_b_sena",
                        "type": "text",
                        "label": "Programuotojo klaidos sprendimo būsena"
                    },
                    {
                        "name": "Registravimo_tipas",
                        "type": "text",
                        "label": "Registravimo tipas"
                    },
                    {
                        "name": "Modified_Time",
                        "type": "date",
                        "label": "Modified Time"
                    },
                    {
                        "name": "Created_Time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Unsubscribed_Time",
                        "type": "date",
                        "label": "Unsubscribed Time"
                    },
                    {
                        "name": "Unsubscribed_Mode",
                        "type": "text",
                        "label": "Unsubscribed Mode"
                    },
                    {
                        "name": "Locked__s",
                        "type": "boolean",
                        "label": "Locked"
                    },
                    {
                        "name": "Record_Image",
                        "type": "text",
                        "label": "Registruotos Klaidos Image"
                    },
                    {
                        "name": "Vardas",
                        "type": "text",
                        "label": "Vardas"
                    },
                    {
                        "name": "Pavard",
                        "type": "text",
                        "label": "Pavardė"
                    },
                    {
                        "name": "El_pa_to_adresas",
                        "type": "email",
                        "label": "El. pašto adresas"
                    },
                    {
                        "name": "Telefono_numeris",
                        "type": "text",
                        "label": "Telefono numeris"
                    },
                    {
                        "name": "Klaidos_apib_dinimas",
                        "type": "text",
                        "label": "Klaidos apibūdinimas"
                    },
                    {
                        "name": "mon_s_pavadinimas",
                        "type": "text",
                        "label": "Įmonės pavadinimas"
                    },
                    {
                        "name": "Created_By",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "Created by ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "$orchestration",
                        "type": "boolean",
                        "label": "Orchestration"
                    },
                    {
                        "name": "First_Name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Full_Name",
                        "type": "text",
                        "label": "Full Name"
                    },
                    {
                        "name": "Modified_By",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "Modified by ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            }
                        ],
                        "type": "collection",
                        "label": "Modified by"
                    },
                    {
                        "name": "Tag",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "id",
                                "type": "uinteger",
                                "label": "Tag ID"
                            },
                            {
                                "name": "color_code",
                                "type": "text",
                                "label": "Color Code"
                            }
                        ],
                        "type": "array",
                        "label": "Tag"
                    },
                    {
                        "name": "Email_Opt_Out",
                        "type": "boolean",
                        "label": "Email Opt Out"
                    },
                    {
                        "name": "Last_Name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "Last_Activity_Time",
                        "type": "date",
                        "label": "Last Activity Time"
                    },
                    {
                        "name": "$currency_symbol",
                        "type": "text",
                        "label": "Currency Symbol"
                    },
                    {
                        "name": "$sharing_permission",
                        "type": "text",
                        "label": "Sharing Permission"
                    },
                    {
                        "name": "$state",
                        "type": "text",
                        "label": "State"
                    },
                    {
                        "name": "$converted",
                        "type": "boolean",
                        "label": "Converted"
                    },
                    {
                        "name": "$process_flow",
                        "type": "boolean",
                        "label": "Process Flow"
                    },
                    {
                        "name": "$approval",
                        "spec": [
                            {
                                "name": "delegate",
                                "type": "boolean",
                                "label": "Delegate"
                            },
                            {
                                "name": "approve",
                                "type": "boolean",
                                "label": "Approve"
                            },
                            {
                                "name": "reject",
                                "type": "boolean",
                                "label": "Reject"
                            },
                            {
                                "name": "resubmit",
                                "type": "boolean",
                                "label": "Resubmit"
                            }
                        ],
                        "type": "collection",
                        "label": "Approval"
                    },
                    {
                        "name": "$editable",
                        "type": "boolean",
                        "label": "Editable"
                    },
                    {
                        "name": "$review_process",
                        "spec": [
                            {
                                "name": "approve",
                                "type": "boolean",
                                "label": "Approve"
                            },
                            {
                                "name": "reject",
                                "type": "boolean",
                                "label": "Reject"
                            },
                            {
                                "name": "resubmit",
                                "type": "boolean",
                                "label": "Resubmit"
                            }
                        ],
                        "type": "collection",
                        "label": "Review Process"
                    },
                    {
                        "name": "$converted_detail",
                        "spec": [],
                        "type": "collection",
                        "label": "Converted Detail"
                    },
                    {
                        "name": "$in_merge",
                        "type": "boolean",
                        "label": "In Merge"
                    },
                    {
                        "name": "$approval_state",
                        "type": "text",
                        "label": "Approval State"
                    },
                    {
                        "name": "$followed",
                        "type": "boolean",
                        "label": "Followed"
                    },
                    {
                        "name": "$se_module",
                        "type": "text",
                        "label": "SE Module"
                    },
                    {
                        "name": "$calendar_booking_event",
                        "type": "boolean",
                        "label": "Calendar Booking Event"
                    },
                    {
                        "name": "$event_cancelled",
                        "type": "boolean",
                        "label": "Event Cancelled"
                    },
                    {
                        "name": "$u_id",
                        "type": "uinteger",
                        "label": "U ID"
                    },
                    {
                        "name": "$send_notification",
                        "type": "boolean",
                        "label": "Send Notification"
                    },
                    {
                        "name": "$calendar_booking_call",
                        "type": "boolean",
                        "label": "Calendar Booking Call"
                    },
                    {
                        "name": "$is_shared_to_client",
                        "type": "boolean",
                        "label": "Is Shared to Client"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "zohocrm:updateObject",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1644421
                            },
                            "filter": {
                                "name": "Ivertinimo stadijoje",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.taisymoTipas}}",
                                            "b": "Vertinama",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{1.kortelesID}}",
                                "module": "Registruotos_Klaidos",
                                "Programuotojo_klaidos_sprendimo_b_sena": "Analizuojama"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "Būsena = Analizuojama"
                                },
                                "restore": {
                                    "expect": {
                                        "id": {
                                            "mode": "edit"
                                        },
                                        "module": {
                                            "mode": "chose",
                                            "label": "Registruotos Klaidos"
                                        },
                                        "trigger": {
                                            "mode": "chose"
                                        },
                                        "Registravimo_tipas": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "Prid_tos_nuotraukos": {
                                            "mode": "chose"
                                        },
                                        "Klaidos_sprendimo_b_sena": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "Programuotojo_klaidos_sprendimo_b_sena": {
                                            "mode": "chose",
                                            "label": "Analizuojama"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "zohocrm2"
                                            },
                                            "label": "My Zoho CRM connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:zohocrm2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "module",
                                        "type": "select",
                                        "label": "Module",
                                        "required": true
                                    },
                                    {
                                        "name": "trigger",
                                        "type": "select",
                                        "label": "Trigger",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "workflow",
                                                "approval",
                                                "blueprint"
                                            ]
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "id",
                                        "type": "select",
                                        "label": "Object ID",
                                        "required": true
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Registruotos Klaidos pavadinimas",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Owner",
                                        "type": "text",
                                        "label": "Registruotos Klaidos Owner",
                                        "validate": {
                                            "max": 120
                                        }
                                    },
                                    {
                                        "name": "Klaidos_sprendimo_b_sena",
                                        "type": "select",
                                        "label": "Klaidos sprendimo būsena"
                                    },
                                    {
                                        "name": "Programuotojo_klaidos_sprendimo_b_sena",
                                        "type": "select",
                                        "label": "Programuotojo klaidos sprendimo būsena"
                                    },
                                    {
                                        "name": "Registravimo_tipas",
                                        "type": "select",
                                        "label": "Registravimo tipas"
                                    },
                                    {
                                        "name": "Vardas",
                                        "type": "text",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Pavard",
                                        "type": "text",
                                        "label": "Pavardė",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "El_pa_to_adresas",
                                        "type": "email",
                                        "label": "El. pašto adresas",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Telefono_numeris",
                                        "type": "text",
                                        "label": "Telefono numeris",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Klaidos_apib_dinimas",
                                        "type": "text",
                                        "label": "Klaidos apibūdinimas",
                                        "validate": {
                                            "max": 2000
                                        }
                                    },
                                    {
                                        "name": "mon_s_pavadinimas",
                                        "type": "text",
                                        "label": "Įmonės pavadinimas",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Prid_tos_nuotraukos",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Pridėtos nuotraukos",
                                        "validate": {
                                            "max": 10
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 8,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 434025
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{9.El_pa_to_adresas}}"
                                ],
                                "bcc": [],
                                "from": "LuEmTrip Administracija lukaskojalad@gmail.com",
                                "html": "<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>LuEmTrip - Sąskaita faktūra</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        font-size: 14px;\n        color: #333333;\n        background-color: #f2f2f2;\n      }\n      .container {\n        width: 600px;\n        margin: 0 auto;\n        background-color: #ffffff;\n        padding: 20px;\n        border: 1px solid #cccccc;\n        border-radius: 5px;\n      }\n      h1 {\n        font-size: 24px;\n        color: #008CBA;\n        margin-top: 0;\n      }\n      p {\n        margin-bottom: 20px;\n      }\n      button {\n        background-color: #008CBA;\n        color: #ffffff;\n        padding: 10px 20px;\n        border: none;\n        border-radius: 5px;\n        font-size: 16px;\n        cursor: pointer;\n      }\n      button:hover {\n        background-color: #005f79;\n      }\n      button a {\n  color: #ffffff;\n  text-decoration: none;\n}\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h1>LuEmTrip - Sąskaita faktūra</h1>\n      <p>Sveiki,</p>\n      <p>Šio el. laiško priede rasite mūsų išrašytą sąskaitą faktūrą.</p>\n      <p>Atsiskaitymo terminas: {{9.Apmok_jimo_dienos}}</p>\n      <p>Jei turite kokių nors klausimų ar pastabų, nedvejokite susisiekti su mumis.</p>\n      <p>Linkime sėkmingų verslo sandorių,</p>\n      <p>LuEmTrip Komanda</p>\n    </div>\n  </body>\n</html>\n",
                                "subject": "Išrašyta sąskaita - LuEmTrip",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0,
                                    "name": "Pranešimas pagalbos spec."
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (lukas.kojala@unifiedpost.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "zohocrm:updateObject",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1644421
                            },
                            "filter": {
                                "name": "Taisoma",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.taisymoTipas}}",
                                            "b": "Taisoma",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{1.kortelesID}}",
                                "module": "Registruotos_Klaidos",
                                "Programuotojo_klaidos_sprendimo_b_sena": "Taisoma"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300,
                                    "name": "Būsena = Tvarkoma"
                                },
                                "restore": {
                                    "expect": {
                                        "id": {
                                            "mode": "edit"
                                        },
                                        "module": {
                                            "mode": "chose",
                                            "label": "Registruotos Klaidos"
                                        },
                                        "trigger": {
                                            "mode": "chose"
                                        },
                                        "Registravimo_tipas": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "Prid_tos_nuotraukos": {
                                            "mode": "chose"
                                        },
                                        "Klaidos_sprendimo_b_sena": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "Programuotojo_klaidos_sprendimo_b_sena": {
                                            "mode": "chose",
                                            "label": "Taisoma"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "zohocrm2"
                                            },
                                            "label": "My Zoho CRM connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:zohocrm2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "module",
                                        "type": "select",
                                        "label": "Module",
                                        "required": true
                                    },
                                    {
                                        "name": "trigger",
                                        "type": "select",
                                        "label": "Trigger",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "workflow",
                                                "approval",
                                                "blueprint"
                                            ]
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "id",
                                        "type": "select",
                                        "label": "Object ID",
                                        "required": true
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Registruotos Klaidos pavadinimas",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Owner",
                                        "type": "text",
                                        "label": "Registruotos Klaidos Owner",
                                        "validate": {
                                            "max": 120
                                        }
                                    },
                                    {
                                        "name": "Klaidos_sprendimo_b_sena",
                                        "type": "select",
                                        "label": "Klaidos sprendimo būsena"
                                    },
                                    {
                                        "name": "Programuotojo_klaidos_sprendimo_b_sena",
                                        "type": "select",
                                        "label": "Programuotojo klaidos sprendimo būsena"
                                    },
                                    {
                                        "name": "Registravimo_tipas",
                                        "type": "select",
                                        "label": "Registravimo tipas"
                                    },
                                    {
                                        "name": "Vardas",
                                        "type": "text",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Pavard",
                                        "type": "text",
                                        "label": "Pavardė",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "El_pa_to_adresas",
                                        "type": "email",
                                        "label": "El. pašto adresas",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Telefono_numeris",
                                        "type": "text",
                                        "label": "Telefono numeris",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Klaidos_apib_dinimas",
                                        "type": "text",
                                        "label": "Klaidos apibūdinimas",
                                        "validate": {
                                            "max": 2000
                                        }
                                    },
                                    {
                                        "name": "mon_s_pavadinimas",
                                        "type": "text",
                                        "label": "Įmonės pavadinimas",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Prid_tos_nuotraukos",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Pridėtos nuotraukos",
                                        "validate": {
                                            "max": 10
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 10,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 434025
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{9.El_pa_to_adresas}}"
                                ],
                                "bcc": [],
                                "from": "LuEmTrip Administracija lukaskojalad@gmail.com",
                                "html": "<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>LuEmTrip - Sąskaita faktūra</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        font-size: 14px;\n        color: #333333;\n        background-color: #f2f2f2;\n      }\n      .container {\n        width: 600px;\n        margin: 0 auto;\n        background-color: #ffffff;\n        padding: 20px;\n        border: 1px solid #cccccc;\n        border-radius: 5px;\n      }\n      h1 {\n        font-size: 24px;\n        color: #008CBA;\n        margin-top: 0;\n      }\n      p {\n        margin-bottom: 20px;\n      }\n      button {\n        background-color: #008CBA;\n        color: #ffffff;\n        padding: 10px 20px;\n        border: none;\n        border-radius: 5px;\n        font-size: 16px;\n        cursor: pointer;\n      }\n      button:hover {\n        background-color: #005f79;\n      }\n      button a {\n  color: #ffffff;\n  text-decoration: none;\n}\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h1>LuEmTrip - Sąskaita faktūra</h1>\n      <p>Sveiki,</p>\n      <p>Šio el. laiško priede rasite mūsų išrašytą sąskaitą faktūrą.</p>\n      <p>Atsiskaitymo terminas: {{9.Apmok_jimo_dienos}}</p>\n      <p>Jei turite kokių nors klausimų ar pastabų, nedvejokite susisiekti su mumis.</p>\n      <p>Linkime sėkmingų verslo sandorių,</p>\n      <p>LuEmTrip Komanda</p>\n    </div>\n  </body>\n</html>\n",
                                "subject": "Išrašyta sąskaita - LuEmTrip",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300,
                                    "name": "Pranešimas pagalbos spec."
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (lukas.kojala@unifiedpost.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "zohocrm:updateObject",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1644421
                            },
                            "filter": {
                                "name": "Testuojama",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.taisymoTipas}}",
                                            "b": "Testuojama",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{1.kortelesID}}",
                                "module": "Registruotos_Klaidos",
                                "Programuotojo_klaidos_sprendimo_b_sena": "Testuojama"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600,
                                    "name": "Būsena = Testuojama"
                                },
                                "restore": {
                                    "expect": {
                                        "id": {
                                            "mode": "edit"
                                        },
                                        "module": {
                                            "mode": "chose",
                                            "label": "Registruotos Klaidos"
                                        },
                                        "trigger": {
                                            "mode": "chose"
                                        },
                                        "Registravimo_tipas": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "Prid_tos_nuotraukos": {
                                            "mode": "chose"
                                        },
                                        "Klaidos_sprendimo_b_sena": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "Programuotojo_klaidos_sprendimo_b_sena": {
                                            "mode": "chose",
                                            "label": "Testuojama"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "zohocrm2"
                                            },
                                            "label": "My Zoho CRM connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:zohocrm2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "module",
                                        "type": "select",
                                        "label": "Module",
                                        "required": true
                                    },
                                    {
                                        "name": "trigger",
                                        "type": "select",
                                        "label": "Trigger",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "workflow",
                                                "approval",
                                                "blueprint"
                                            ]
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "id",
                                        "type": "select",
                                        "label": "Object ID",
                                        "required": true
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Registruotos Klaidos pavadinimas",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Owner",
                                        "type": "text",
                                        "label": "Registruotos Klaidos Owner",
                                        "validate": {
                                            "max": 120
                                        }
                                    },
                                    {
                                        "name": "Klaidos_sprendimo_b_sena",
                                        "type": "select",
                                        "label": "Klaidos sprendimo būsena"
                                    },
                                    {
                                        "name": "Programuotojo_klaidos_sprendimo_b_sena",
                                        "type": "select",
                                        "label": "Programuotojo klaidos sprendimo būsena"
                                    },
                                    {
                                        "name": "Registravimo_tipas",
                                        "type": "select",
                                        "label": "Registravimo tipas"
                                    },
                                    {
                                        "name": "Vardas",
                                        "type": "text",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Pavard",
                                        "type": "text",
                                        "label": "Pavardė",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "El_pa_to_adresas",
                                        "type": "email",
                                        "label": "El. pašto adresas",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Telefono_numeris",
                                        "type": "text",
                                        "label": "Telefono numeris",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Klaidos_apib_dinimas",
                                        "type": "text",
                                        "label": "Klaidos apibūdinimas",
                                        "validate": {
                                            "max": 2000
                                        }
                                    },
                                    {
                                        "name": "mon_s_pavadinimas",
                                        "type": "text",
                                        "label": "Įmonės pavadinimas",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Prid_tos_nuotraukos",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Pridėtos nuotraukos",
                                        "validate": {
                                            "max": 10
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 11,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 434025
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{9.El_pa_to_adresas}}"
                                ],
                                "bcc": [],
                                "from": "LuEmTrip Administracija lukaskojalad@gmail.com",
                                "html": "<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>LuEmTrip - Sąskaita faktūra</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        font-size: 14px;\n        color: #333333;\n        background-color: #f2f2f2;\n      }\n      .container {\n        width: 600px;\n        margin: 0 auto;\n        background-color: #ffffff;\n        padding: 20px;\n        border: 1px solid #cccccc;\n        border-radius: 5px;\n      }\n      h1 {\n        font-size: 24px;\n        color: #008CBA;\n        margin-top: 0;\n      }\n      p {\n        margin-bottom: 20px;\n      }\n      button {\n        background-color: #008CBA;\n        color: #ffffff;\n        padding: 10px 20px;\n        border: none;\n        border-radius: 5px;\n        font-size: 16px;\n        cursor: pointer;\n      }\n      button:hover {\n        background-color: #005f79;\n      }\n      button a {\n  color: #ffffff;\n  text-decoration: none;\n}\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h1>LuEmTrip - Sąskaita faktūra</h1>\n      <p>Sveiki,</p>\n      <p>Šio el. laiško priede rasite mūsų išrašytą sąskaitą faktūrą.</p>\n      <p>Atsiskaitymo terminas: {{9.Apmok_jimo_dienos}}</p>\n      <p>Jei turite kokių nors klausimų ar pastabų, nedvejokite susisiekti su mumis.</p>\n      <p>Linkime sėkmingų verslo sandorių,</p>\n      <p>LuEmTrip Komanda</p>\n    </div>\n  </body>\n</html>\n",
                                "subject": "Išrašyta sąskaita - LuEmTrip",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600,
                                    "name": "Pranešimas pagalbos spec."
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (lukas.kojala@unifiedpost.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "zohocrm:updateObject",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 1644421
                            },
                            "filter": {
                                "name": "Sutvarkyta",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.taisymoTipas}}",
                                            "b": "Sutvarkyta",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "id": "{{1.kortelesID}}",
                                "module": "Registruotos_Klaidos",
                                "Programuotojo_klaidos_sprendimo_b_sena": "Išspręsta"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 900,
                                    "name": "Būsena = Išspręsta"
                                },
                                "restore": {
                                    "expect": {
                                        "id": {
                                            "mode": "edit"
                                        },
                                        "module": {
                                            "mode": "chose",
                                            "label": "Registruotos Klaidos"
                                        },
                                        "trigger": {
                                            "mode": "chose"
                                        },
                                        "Registravimo_tipas": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "Prid_tos_nuotraukos": {
                                            "mode": "chose"
                                        },
                                        "Klaidos_sprendimo_b_sena": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "Programuotojo_klaidos_sprendimo_b_sena": {
                                            "mode": "chose",
                                            "label": "Išspręsta"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "zohocrm2"
                                            },
                                            "label": "My Zoho CRM connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:zohocrm2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "module",
                                        "type": "select",
                                        "label": "Module",
                                        "required": true
                                    },
                                    {
                                        "name": "trigger",
                                        "type": "select",
                                        "label": "Trigger",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "workflow",
                                                "approval",
                                                "blueprint"
                                            ]
                                        }
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "id",
                                        "type": "select",
                                        "label": "Object ID",
                                        "required": true
                                    },
                                    {
                                        "name": "Name",
                                        "type": "text",
                                        "label": "Registruotos Klaidos pavadinimas",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Owner",
                                        "type": "text",
                                        "label": "Registruotos Klaidos Owner",
                                        "validate": {
                                            "max": 120
                                        }
                                    },
                                    {
                                        "name": "Klaidos_sprendimo_b_sena",
                                        "type": "select",
                                        "label": "Klaidos sprendimo būsena"
                                    },
                                    {
                                        "name": "Programuotojo_klaidos_sprendimo_b_sena",
                                        "type": "select",
                                        "label": "Programuotojo klaidos sprendimo būsena"
                                    },
                                    {
                                        "name": "Registravimo_tipas",
                                        "type": "select",
                                        "label": "Registravimo tipas"
                                    },
                                    {
                                        "name": "Vardas",
                                        "type": "text",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Pavard",
                                        "type": "text",
                                        "label": "Pavardė",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "El_pa_to_adresas",
                                        "type": "email",
                                        "label": "El. pašto adresas",
                                        "validate": {
                                            "max": 100
                                        }
                                    },
                                    {
                                        "name": "Telefono_numeris",
                                        "type": "text",
                                        "label": "Telefono numeris",
                                        "validate": {
                                            "max": 30
                                        }
                                    },
                                    {
                                        "name": "Klaidos_apib_dinimas",
                                        "type": "text",
                                        "label": "Klaidos apibūdinimas",
                                        "validate": {
                                            "max": 2000
                                        }
                                    },
                                    {
                                        "name": "mon_s_pavadinimas",
                                        "type": "text",
                                        "label": "Įmonės pavadinimas",
                                        "validate": {
                                            "max": 255
                                        }
                                    },
                                    {
                                        "name": "Prid_tos_nuotraukos",
                                        "spec": {
                                            "name": "value",
                                            "type": "text"
                                        },
                                        "type": "array",
                                        "label": "Pridėtos nuotraukos",
                                        "validate": {
                                            "max": 10
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 434025
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{9.El_pa_to_adresas}}"
                                ],
                                "bcc": [],
                                "from": "LuEmTrip Administracija lukaskojalad@gmail.com",
                                "html": "<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>LuEmTrip - Sąskaita faktūra</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        font-size: 14px;\n        color: #333333;\n        background-color: #f2f2f2;\n      }\n      .container {\n        width: 600px;\n        margin: 0 auto;\n        background-color: #ffffff;\n        padding: 20px;\n        border: 1px solid #cccccc;\n        border-radius: 5px;\n      }\n      h1 {\n        font-size: 24px;\n        color: #008CBA;\n        margin-top: 0;\n      }\n      p {\n        margin-bottom: 20px;\n      }\n      button {\n        background-color: #008CBA;\n        color: #ffffff;\n        padding: 10px 20px;\n        border: none;\n        border-radius: 5px;\n        font-size: 16px;\n        cursor: pointer;\n      }\n      button:hover {\n        background-color: #005f79;\n      }\n      button a {\n  color: #ffffff;\n  text-decoration: none;\n}\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h1>LuEmTrip - Sąskaita faktūra</h1>\n      <p>Sveiki,</p>\n      <p>Šio el. laiško priede rasite mūsų išrašytą sąskaitą faktūrą.</p>\n      <p>Atsiskaitymo terminas: {{9.Apmok_jimo_dienos}}</p>\n      <p>Jei turite kokių nors klausimų ar pastabų, nedvejokite susisiekti su mumis.</p>\n      <p>Linkime sėkmingų verslo sandorių,</p>\n      <p>LuEmTrip Komanda</p>\n    </div>\n  </body>\n</html>\n",
                                "subject": "Išrašyta sąskaita - LuEmTrip",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 900,
                                    "name": "Pranešimas pagalbos spec."
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted connection (lukas.kojala@unifiedpost.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}